

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
}

.item:hover p,
.item:hover i,
input:hover::placeholder {
  color: #006622;
}
.item input:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 3px 0 #006622;
  color: #006622;
}
.item {
  position: relative;
  margin: 10px 0;
}
.item span {
  color: red;
}
input[type='date']::-webkit-inner-spin-button {
  display: none;
}
.item i,
input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  font-size: 20px;
  color: #00b33c;
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.columns div {
  width: 48%;
}

.btn-block {
  margin-top: 10px;
  text-align: center;
}
